body {
	height: 1024px;
	background-color: #eeeeee;
}
.custom-nav {
	position: fixed;
	z-index: 999;
	background: transparent;
	/*background-color: rgba(0, 0, 0, 0.3);*/
	box-shadow: none;
	height: 100px;
	padding: 10px;
}

.nav-bg {
	background-color: #0d47a1;
	height: 90px;
	padding: 5px;
}


.logo {
	width: 60px;
	height: 80px;
}

.cover {
	background-image: url(../img/step0001.jpg);
	height: 300px;
	margin-top: -64px;
	width: 100%;
	background-size: cover;
}

nav {
	transition: all 0.3s ease-in-out;
}

.title-bg p {
	font-size: 20px;
	font-weight: 300;
}

.news-header {
	color: #0d47a1;
}

.title-bg {
	background-color: #0d47a1;
	color: #fff;
	padding: 1px 10px 5px 25px;
}

.content {
	padding-top: 20px;
}

.content-bg {
	background-color: #fff;
	padding-bottom: 20px;
	margin-bottom: 20px ;
}

.news-content {
	padding: 20px 10px 10px 30px !important;

}

.news-date {
	font-size: 12px;
	color: #757575;
}

.news-title {
	display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 300;
}

.news-title-small {
	display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 300;
}

.news-img {
	margin-top: 30px;
	margin-bottom: 10px;
}

.news-img img{
	width: 400px;
	height: 300px;
}

   .input-field input[type=text]:focus + label {
     color: #0d47a1;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #0d47a1;
     box-shadow: 0 1px 0 0 #0d47a1;
}

.caption-bottom {
	margin-bottom: 10px;
}

.dropdown-content {
	background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-content a{
	color: #fff !important;
}

.dropdown-button {
	width: 150px;
}

.history-txt {
	font-weight: 300;
    line-height: 2;
}

.custom-p p{
	font-weight: 300;
    line-height: 2;
    margin: 0px;
}

.custom-p li{
	font-weight: 300;
    line-height: 2;
}

.p-head {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-weight: 400 !important;
}


.history-img img {
	width: 100%;
	margin-top: 25px;
}

.dropdown-content.nested {
   overflow-y: visible ;
}

.dropdown-content .dropdown-content {
   margin-left: 100% !important;
}

.dropdown-content li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
}

.dropdown-content li:hover {
	border-bottom: 1px solid #eee;
	background-color: rgba(0, 0, 0, 0.8);
}

.option-content {
	background-color: #fff;
}

.year {
	margin-top: 40px;
	margin-bottom: 20px;
}

